*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

background:#edf2fb;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:30px;

}

.container{

width:1150px;

display:flex;

background:#fff;

border-radius:20px;

overflow:hidden;

box-shadow:0 20px 50px rgba(0,0,0,.12);

}

/* LEFT */

.left-panel{

flex:1;

background:linear-gradient(135deg,#fe582b,#0ea5e9);

color:white;

display:flex;

justify-content:center;

align-items:center;

padding:60px;

}

.content h1{

font-size:45px;

margin-bottom:20px;

}

.content p{

font-size:17px;

line-height:28px;

margin-bottom:35px;

}

.features div{

margin:18px 0;

font-size:18px;

}

/* RIGHT */

.right-panel{

flex:1;

display:flex;

justify-content:center;

align-items:center;

padding:45px;

}

.register-form{

width:400px;

}

.logo{

display:block;

margin:auto;

width:80px;

margin-bottom:15px;

}

.register-form h2{

text-align:center;

font-size:32px;

color:#222;

margin-bottom:10px;

}

.register-form p{

text-align:center;

color:#666;

margin-bottom:25px;

}

.input-box{

display:flex;

align-items:center;

border:1px solid #ddd;

border-radius:10px;

padding:14px;

margin-bottom:16px;

}

.input-box i{

color:#2563eb;

font-size:18px;

margin-right:12px;

}

.input-box input{

width:100%;

border:none;

outline:none;

font-size:15px;

}

.checkbox{

display:flex;

align-items:flex-start;

gap:10px;

font-size:14px;

margin-bottom:20px;

color:#555;

}

button{

width:100%;

padding:15px;

border:none;

background:#2563eb;

color:white;

font-size:16px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#1d4ed8;

}

.divider{

text-align:center;

margin:22px 0;

position:relative;

color:#777;

}

.divider::before{

content:"";

position:absolute;

width:42%;

height:1px;

background:#ddd;

left:0;

top:50%;

}

.divider::after{

content:"";

position:absolute;

width:42%;

height:1px;

background:#ddd;

right:0;

top:50%;

}

.google{

background:white;

border:1px solid #ddd;

color:#444;

}

.google:hover{

background:#f7f7f7;

}

.google i{

color:#EA4335;

margin-right:10px;

}

.login{

margin-top:25px;

text-align:center;

}

.login a{

text-decoration:none;

color:#ef5731;

font-weight:600;

}

@media(max-width:900px){

.container{

flex-direction:column;

}

.left-panel{

padding:40px;

}

.right-panel{

padding:35px;

}

.register-form{

width:100%;

}

}
